[submodule "submit/javascript-baseball-6"]
	path = submit/javascript-baseball-6
	url = https://github.com/llqqssttyy/javascript-baseball-6.git
[submodule "submit/javascript-racingcar-6"]
	path = submit/javascript-racingcar-6
	url = https://github.com/llqqssttyy/javascript-racingcar-6.git
[submodule "submit/javascript-lotto-6"]
	path = submit/javascript-lotto-6
	url = https://github.com/llqqssttyy/javascript-lotto-6.git
